<div class="container">
  <div class="sidenav">

    <header>Tone of voice</header>
    <a routerLink="privacyPrinciple">Privacy by design</a>
    <a routerLink="responsiblePrinciple">Responsible by design</a>
    <a routerLink="trustPrinciple">Inspire trust</a>
    <a routerLink="accessibleInclusivePrinciple">Be Accessible & Inclusive</a>
	<header>Colours</header>
	<header>Grid</header>
	<header>Typography</header>
	<header>Feedbacks</header>
	<header>Empty states</header>
  </div>


  <div class="mainContent">
  	<header>
  		<h1>Product experience principles</h1>
  		<h2>At SuperAwesome we’re commited to enable safe and ethical digital experiences for kids. Our products allow our customers to interact with kids whilst respecting their rights and privacy.</h2>
  		<p>Some of our tools are customers facing, some are parents facing and some are kids facing, however all of them carry our company's values through a consistent product experience.</p>
  	</header>
  	<hr>
  	<section>
  		<h2>Privacy by design</h2>
  	</section>
  	<section>
  		<h2>Responsible by design</h2>
  	</section>
  	<section>
  		<h2>Inspire trust</h2>
  	</section>
  	<section>
  		<h2>Be accessible & inclusive</h2>
  	</section>
  </div>

</div>
