<div class="container">
  <div class="sidenav">

    <header>Tone of voice</header>
    <a routerLink="privacyPrinciple">Voice guidelines</a>
    <a routerLink="responsiblePrinciple">Tone in actions</a>
	<header>Vocabulary</header>
	<header>Actionable language</header>
  </div>


  <div class="mainContent">
  	<header>
  		<h1>Product content</h1>
  		<h2>"Don't make me think" : we use clear and plain instructions to remove ambiguity and confusion.</h2>
  		<p>Using consistent vocabulary helps our customers and users feel comfortable when using our products. We want to make them feel like they can trust us. Because they can!</p>
  	</header>
  	<section>
  		<h2>Voice guidelines</h2>
  	</section>
  	<section>
  		<h2>Tone in actions</h2>
  	</section>
  </div>

</div>
