<header>
  <h1>{{uiSwitchButton.header}}</h1>
  <p>
      This component creates a switch.
      This is to specify the state of something that can only have two states.
      The colour changes as you use the switch to put an emphasis on the state change.
  </p>
</header>
<app-code-snippet
    [header]="uiSwitchButton.header"
    [html]="uiSwitchButton.html"
    [sass]="uiSwitchButton.sass"
    [ts]="uiSwitchButton.ts"
  ></app-code-snippet>

  <div class="preview">
      <app-aa-switch></app-aa-switch>
  </div>
