<div class="container">

  <div class="sidenav">
    <header>Buttons & Indicators</header>
    <a routerLink="aaButton">AA Button</a>
    <a routerLink="closeButton">Close Button</a>
  </div>
  <div class="mainContent">
      <router-outlet></router-outlet>


  <!-- <h1>Buttons & Indicators</h1> -->



  <!-- <hr>
  <app-code-snippet
    [header]="uiMultiSelectRow.header"
    [html]="uiMultiSelectRow.html"
    [sass]="uiMultiSelectRow.sass"
    [ts]="uiMultiSelectRow.ts"
  >
  </app-code-snippet>
  <app-code-snippet
    [header]="uiMultiselectCheckbox.header"
    [html]="uiMultiselectCheckbox.html"
    [sass]="uiMultiselectCheckbox.sass"
    [ts]="uiMultiselectCheckbox.ts"
  >
  </app-code-snippet>

  <div class="preview">
    multiselect preview
  </div>

  <hr>

  <app-code-snippet
    [header]="uiDropDown.header"
    [html]="uiDropDown.html"
    [sass]="uiDropDown.sass"
    [ts]="uiDropDown.ts"
  >
  </app-code-snippet>
  <div class="preview">
    ui dropdown preview
  </div>

  </div> -->

</div>
