.container
  display: flex
  margin-top: 3em
  .sidenav
    width: 25vw
    line-height: 2em
    display: flex
    flex-direction: column
    a
      color: #C4C4C4
      margin-left: 1em
      font-weight: 300
  .mainContent
    width: 100%
    header
      border-bottom: 2px solid #EB2131
      padding-bottom: 4em
    h1
      font-family: Montserrat, sans-serif
      color: #000
      font-size: 4em
      margin: 0 0 0.5em 0
      font-weight: 700
    h2
      font-family: Montserrat, sans-serif
      color: #000
      font-size: 2em
      line-height: 1.5em
      margin: 0 0 1em 0
      font-weight: 300
    p
      font-family: Lato, sans-serif
      font-size: 1.3em
      line-height: 2em
      font-weight: 300
    section
      padding-top: 4em
  .preview
    border-top: 1px solid #dee2e6
    .aa-close-button
      width: 20px
      height: 20px
      border: 1px solid #e1e7f6
      border-radius: 3px
      cursor: pointer
      padding-left: 5px
      color: #256eff
