<div class="container">
  <div class="sidenav">sidenav</div>

  <div class="mainContent">
      <div class="card">
        <div class="header">
          <span class="name">Buttons & Indicators</span>
        </div>
        <div class="cardContent">
          <mat-tab-group>
              <mat-tab label="HTML"> Content 1 </mat-tab>
              <mat-tab label="TS"> Content 2 </mat-tab>
              <mat-tab label="CSS"> Content 3 </mat-tab>
          </mat-tab-group>
        </div>
        <div class="cardFooter">
          footer
        </div>
      </div>
  </div>

</div>
