<div class="container">
  <div class="sidenav"></div>

  <div class="mainContent">

  <h1>Buttons & Indicators</h1>

  <app-code-snippet
    [header]="closeButton.header"
    [html]="closeButton.html"
    [sass]="closeButton.sass"
    [ts]="closeButton.ts"
  >
  </app-code-snippet>

  <div class="preview">
      <div class="aa-close-button fa fa-times"></div>
  </div>

  <hr>
  <app-code-snippet
    [header]="uiMultiSelectRow.header"
    [html]="uiMultiSelectRow.html"
    [sass]="uiMultiSelectRow.sass"
    [ts]="uiMultiSelectRow.ts"
  >
  </app-code-snippet>
  <app-code-snippet
    [header]="uiMultiselectCheckbox.header"
    [html]="uiMultiselectCheckbox.html"
    [sass]="uiMultiselectCheckbox.sass"
    [ts]="uiMultiselectCheckbox.ts"
  >
  </app-code-snippet>

  <div class="preview">
    multiselect preview
  </div>

  <hr>

  <app-code-snippet
    [header]="uiDropDown.header"
    [html]="uiDropDown.html"
    [sass]="uiDropDown.sass"
    [ts]="uiDropDown.ts"
  >
  </app-code-snippet>
  <div class="preview">
    ui dropdown preview
  </div>

  </div>

</div>
