<header>
  <h1>Save button</h1>
  <p>Save buttons are used to submit a change that users want to store.</p>
</header>

<app-code-snippet
    [header]="uiSecondaryButton.header"
    [html]="uiSecondaryButton.html"
    [sass]="uiSecondaryButton.sass"
    [ts]="uiSecondaryButton.ts"
  ></app-code-snippet>

  <div class="preview">
    <app-aa-secondary-button
      [label]="'save'"
      [size]="'medium'"
      [type]="'primary'"
      (modelChanged)="mockSave()"
    ></app-aa-secondary-button>
  </div>
